.container-movie-list {
  width: 80%;
  margin: 10px auto;
  border-radius: 5px;
  background-color: #FFFFFF;
  padding: 8px 0;
  cursor: pointer;
}

.border-list {
  border: 1px solid #e5e5e5;
}

.border-error {
  border: 1px solid #FF0000;
}