.movie-item {
  background-color: red;
  padding: 10px 5px 10px 0px;
  display: flex;
}

.movie-image {
  height: 70px;
  width: 70px;
  object-fit: scale-down;
}

.movie-image > img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  padding: 5px;
}

.movie-info {
  padding: 5px 20px;
}

.movie-info > span {
  display: block;
}